#about {
    background: #e8f1f6;
    margin-top: 2rem;
    padding: 5rem;
    color: #070c56;
    .about-heading {
        text-align: center;
        color: #070c56;
        text-transform: uppercase;
        margin-bottom: 1.8rem;
        letter-spacing: 0.2rem;
    }
    p {
        font-weight: lighter;
        font-size: 2rem;
        text-align: center;
    }

    button {
        background-color: #1e3a83;
        margin-top: 1.4rem;

        border-color: #1e3a83;
        &:hover {
            color: #ddd;
        }
    }
}

#about-us-page {
    padding: 2.5rem 1rem;
    article {
        font-size: 2.4rem;
        color: #444;
        line-height: 4rem;
        thead {
            background: #f2f2f2;
        }
        td,
        th {
            border: 1px solid #eee;
            border-collapse: collapse;
            padding: 1rem;
        }
        figure {
            overflow-x: auto;
            transform: rotateX(180deg);

            table {
                transform: rotateX(180deg);
            }
        }
        p {
            line-height: 4rem;
        }
    }
}
