#contact{

    padding : 5rem 0;

    #contact-form{
        input,label,textarea, .btn{
            font-size:1.5rem;
            border-radius: 0;
            
        }

        input, textarea{
            border: 1px solid $secondary-color;
        }

        label{
            font-weight: bold;
        }

        .btn{
            padding : .7rem 2rem;
        }

        margin-bottom : 3rem;
    }

    .contact-us-heading{
        
        padding-bottom : .3rem;
        margin-bottom : 1.5rem;
    }

    .contact-page-address{

        

        .contact-page-address-heading
        {
            padding-bottom : .3rem;
            margin-bottom : 1.5rem;
        }
    }
}