#news{
    padding : 5rem 0;
    .news-item-container{
        margin-bottom : 2rem;
        transition: .3s;
       

        .card{
            box-shadow: $box-shadow;
            border : 0;
            .card-img-wraper{
                position: relative;
            }

            .news-info{  
                padding : 1rem;   
                text-transform: capitalize;
               a{   
                   text-decoration: underline;
                   text-decoration-color: #fff;
                    h3{
                        color : $secondary-color;    
                        font-size: 1.8rem;
                        &:hover{
                            color : #777;
                        }
                    }
                    
                    
               }
            }

            .news-category{
                background-color: #007bff;
                font-size : 1.2rem;
                color : $primary-color;
                text-transform: capitalize;
                font-family: $secondary-font;
                font-weight: bold;
                border-radius: 40px 0px 40px 0;
                margin-bottom : 1rem;
                display: inline-block;
                padding : .4rem 2rem;
                i{
                    margin-right : .5rem;
                }
            }
        }
    }

    .more{
        text-align: center;
        margin-top : 1rem;
        .cbtn{
            background-color: $secondary-color;
            color: #fff;
            border:none;
            height: 6rem;
            width: 6rem;
            padding-top: 1rem;
            padding-left:2.4rem;
            border-radius: 50%;
            font-size: 1.8rem;
           
            box-shadow: 1px 0px 26px rgb(5, 56, 107);
            i{
                transition: .4s;
            }
            &:hover{
                i{
                    transform: translateX(.4rem);
                }
            }
        }
    }

}