/*
primary-color :#0CA750
lik-primary : #17C856 , 419174
brown : DEDEDE

bg : 2F2E41
*/

$primary-color: #fff;
$secondary-color: #555;
//$background : ;
//$background-light : ;

// $primary-color:rgb(0, 109, 119);
// $secondary-color : #83c5be;
// $background : ;
// $background-light : ;

$off-white: #f1faee;
$blue: #1d3557;
$green: rgba(0, 255, 132, 0.871);
$dark-green: #19a762de;
$brown: #dedede9c;

$primary-font: "Maven Pro", sans-serif;
$secondary-font: "Montserrat", sans-serif;

:root {
    scroll-behavior: smooth;
    font-size: 62.5%;
    width: 100vw;
    max-width: 100vw;

    @include responsive(tab) {
        font-size: 56.25%;
    }
}
body {
    max-width: 100vw;
    overflow-x: hidden;
}
body,
p {
    font-family: $primary-font;
}
p {
    margin: 0;
    line-height: 2.3rem;
}
h1 {
    font-size: 4.5rem;
    margin: 0;
}
h2 {
    font-size: 2.6rem;
}
h3 {
    font-size: 1.6rem;
}
//utility

.active {
    color: #fff !important;
    position: relative;
    border-bottom: 2px solid #fff;
    font-weight: bold;
}

.active::before {
    content: "";
    height: 0.2rem;
    width: 100%;
    display: inline-block;
    color: #fff;
    position: absolute;
    top: 100%;
}

button:focus {
    outline: none;
}
//heading

.heading {
    text-transform: uppercase;
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
    @include responsive(mobile) {
        font-size: 2rem;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
    h2 {
        display: inline-block;
        position: relative;
        color: #1e3a83;
        &::after {
            @include responsive(tab) {
                width: 4rem;
                right: -40px;
            }
            content: "";
            display: inline-block;
            width: 10rem;
            height: 0.2rem;
            position: absolute;
            top: 45%;
            right: -107px;
            background: #1e3a83;
        }

        &::before {
            @include responsive(tab) {
                width: 4rem;
                left: -40px;
            }
            content: "";
            display: inline-block;
            width: 10rem;
            height: 0.2rem;
            position: absolute;
            top: 45%;
            left: -107px;
            background: #1e3a83;
        }

        // .circle-left {
        //     display: inline-block;
        //     position: absolute;
        //     width: 1.8rem;
        //     height: 1.8rem;
        //     border-radius: 50%;
        //     background: #1e3a83;
        //     top: 20%;
        //     left: -107px;
        //     @include responsive(tab) {
        //         left: -40px;
        //     }
        // }

        // .circle-right {
        //     display: inline-block;
        //     position: absolute;
        //     width: 1.8rem;
        //     height: 1.8rem;
        //     border-radius: 50%;
        //     background: #1e3a83;
        //     top: 20%;
        //     right: -107px;
        //     z-index: 2;

        //     @include responsive(tab) {
        //         right: -40px;
        //     }
        // }
    }
}

//button

.cbtn {
    outline: none;
    font-size: 1.6rem;
    padding: 0.8rem 3rem;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    background: #1e3a83;
    border: 1px solid #1e3a83;
    z-index: 6;
    margin-top: 1rem;
    transition: 0.4s;
    &:hover {
        background-color: transparent;
        color: #1e3a83;

        i {
            color: #1e3a83;
        }
    }
}

//overlay

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transition: 0.4s;
    z-index: 5;
    background: rgba(0, 0, 0, 0.6);
}

.overlay-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transition: 0.4s;
    z-index: 5;
    background: rgba(0, 0, 0, 0.1);
}

.box-shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14);
}
