
.top-nav{
    background : $secondary-color;
    padding : 1rem 0;
    color : $primary-color;
    text-align: right;
    @include responsive(mobile)
        {
            text-align: center;
        }
    span{
        @include responsive(mobile)
        {
            display: block;
        }
        font-size: 1.4rem;
        margin-right: 1.5rem;
    }

    i{
        margin-right : .5rem;
    }
   
}
