#video{
    padding: 3rem;
    background : $secondary-color;
    
    .video-item{
        iframe{
            height: 20rem;
            width: 100%;
            border:1px solid $green;
            margin-bottom: 2rem;
        }
    }

    .video-title{
        text-align: center;

        h2{
            color : $green;
            margin-bottom: 3rem;
            font-size: 1.8rem;
            text-transform: uppercase;
        }
    }
}