#video{
    padding: 3rem 0;
    background : $brown;
    margin-top : 3rem;
    .video-item{
        iframe{
            height: 20rem;
            width: 100%;
            border:1px solid #fff;
            margin-bottom: 2rem;
        }
    }

    .video-title{
        text-align: center;

        h2{
            color : $secondary-color;
            margin-bottom: 3rem;
            font-size: 1.8rem;
            text-transform: uppercase;
        }
    }
}